#score_submit, #sub_submit, #card_submit {
	display: none;
}

 a[href]:after {
    content: "";
}

.nav.pull-right {
display: none;
}

.edit-rosters-intro {
	display: none;
}

#external_filter_container {
	display: none;
}

#addstatus {
	display: none;
}

input[type="text"] {
	display: none;
}

.game-iframe, .edit-game-button {
	display: none;
}

.navbar.navbar {
	display: none;
}

.game-meta {
	border: 1px solid #F0F0F0;
}

#maincontent table td {
	padding: 1px 10px;
	font-size: 9px;
}

#events td:last-child a {
	display: none;
}
