/*--------------------------------------------------------------------------
   
   USA Rugby Competition Management System 2.0

	1. Body
	2. Typography
	3. Universal Page Sections
		3.1. Nav Bar
	4. Universal Page Elements
		4.1. Buttons
	5. Page Views
		5.1. Competition list view
		

--------------------------------------------------------------------------*/

/*---------------------------------------------------
1. Body
---------------------------------------------------*/

body {
	background-color: #F3F3F3;
}

.container {
	max-width: 1000px;
}


/*---------------------------------------------------
2. Typography
---------------------------------------------------*/

body, h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
}

h1 {
	font-size: 28px;
	color: #173652;
	text-transform: uppercase;
}

/*---------------------------------------------------
3. Page Sections
---------------------------------------------------*/

/* 3.1 Nav Bar  */

.navbar {
	height: 50px;
	background: #1D2C46;
	border-bottom: 5px solid #FFF; 
}

.navbar .nav.pull-right {
	border-right: 1px solid #243844;
	border-left: 1px solid #0B2331;
}

.navbar .nav>li>a {
	text-shadow: none;
	color: #FFF;
	padding: 0 18px;
	font-size: 13px;
	border-left: 1px solid #243844;
	border-right: 1px solid #0B2331;
	height: 50px;
	line-height: 50px;
	-webkit-transition: 120ms linear all;
	-moz-transition: 120ms linear all;
	transition: 120ms linear all;
}

.navbar .nav>li>a:hover {
	background: #001830;
	color: #FFF;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 22px;
	color: #FFF;
}

.welcome_user {
	line-height: 50px;
	color: #999;
	padding: 0;
}

.navbar .nav li.dropdown.open>.dropdown-toggle {
	background: #001830;
	color: #FFF;
}

.navbar .brand {
	width: 300px;
}

/*---------------------------------------------------
4. Universal Page Elements
---------------------------------------------------*/

/* 4.1 Buttons  */

#maincontent .btn {
	background: transparent;
	border: 1px solid #DFDFDF;
	box-shadow: none;
}

#maincontent .btn-group.open .dropdown-toggle {
	background: #FFF;
	border-color: transparent;
	box-shadow: none;
}


#maincontent .dropdown-menu {
	border: 0;
	margin-top: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);	
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);	
}

#maincontent .dropdown-menu:before {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	position: absolute;
	top: -8px;
	right: 10px;
}


.btn-flat {
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: 120ms linear all;
	-moz-transition: 120ms linear all;
	transition: 120ms linear all;
	text-decoration: none;
}

.btn-flat:hover {
	text-decoration: none;
}

.btn-flat.red {
	color: #FFF;
	background: #B52437;
	padding: 8px 18px;
}

.btn-flat.red:hover {
	background: #C4263B;
}

/* 4.2 Tables  */


#maincontent .table th, #maincontent .table td {
	vertical-align: middle;
	padding: 5px 20px;
}

#maincontent .table tr:nth-child(even) {
	background: #EEE;
	border-top: 1px solid #E6E6E6;
}

#maincontent .table th, #maincontent .table td {
	border-top: none;
}

#maincontent .table th:last-child {
	text-align: right;
}

#maincontent .table th {
	color: #FFF;
	text-transform: uppercase;
	padding: 8px 20px;
	background: #1D2C46;
}

#maincontent table th:first-child  {
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px
}

#maincontent table th:last-child {
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px
}

/* Datatables */

#maincontent #sort_length, #sort_info, #sort_paginate {
	display: none;
}

#sort_filter input[type="text"] {
	background: #ECECEC;
	font-size: 15px;
	border: none;
	box-shadow: none;
	margin-left: 10px;
	margin-top: 10px;
	padding: 8px;
	border-radius: 0;
	font-family: "proxima-nova";
}


/*---------------------------------------------------
5. Page Views
---------------------------------------------------*/

/* 5.1 Competition list view  */

.add-comp {
	float: right;
	margin-top: 16px;
}

.comp {
	float: left;
	margin-bottom: 20px;
}



