/*--------------------------------------------------------------------------
   #testing
   
   USA Rugby Competition Management System 2.0

	1. Body
	2. Typography
	3. Universal Page Sections
		3.1. Nav Bar
	4. Universal Page Elements
		4.1. Buttons
	5. Page Views
		5.1. Competition list view
		

--------------------------------------------------------------------------*/

/*---------------------------------------------------
1. Body
---------------------------------------------------*/

body {
	background: #F0F0F0;
	color: #666;
}

:focus {outline:none;}

/*---------------------------------------------------
2. Typography
---------------------------------------------------*/

body, h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
}

h1 {
	font-size: 48px;
	color: #173652;
	text-transform: uppercase;
	line-height: 70px;
}

h3 {
	font-size: 14.5px;
	line-height: 19.5px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}

h3 span {
	border-bottom: 2px solid #1D2C46;
}

.section-head {
	border-bottom:  1px solid #FFF;
	margin: 20px 0 10px 0;
}


button, input, select, textarea {
	font-family: "proxima-nova";
}

a {
	color: #003A75;
}

.red {
	color: #A00000;
}

/*---------------------------------------------------
3. Page Sections
---------------------------------------------------*/

/* 3.1 Nav Bar  */

.navbar {
	height: 50px;
	background: #1D2C46;
	margin-bottom: 0;
}

.navbar .container {
	max-width: 1050px;
}

.navbar .nav.pull-right {
	border-right: 1px solid #243844;
	border-left: 1px solid #0B2331;
}

.navbar .nav>li>a {
	text-shadow: none;
	color: #FFF;
	padding: 0 18px;
	font-size: 13px;
	border-left: 1px solid #243844;
	border-right: 1px solid #0B2331;
	height: 50px;
	line-height: 50px;
	-webkit-transition: 120ms linear all;
	-moz-transition: 120ms linear all;
	transition: 120ms linear all;
}

.navbar .nav>li>a:hover {
	background: #001830;
	color: #FFF;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 22px;
	color: #FFF;
}

.dropdown-menu li>a:hover {
	background: #1D2C46;
}

.welcome_user {
	line-height: 50px;
	color: #999;
	padding: 0;
}

.navbar .nav li.dropdown.open>.dropdown-toggle {
	background: #001830;
	color: #FFF;
}

.navbar .brand {
	width: 300px;
}

.header {
	position: relative;
	padding: 10px 0;
	background-color: #FFF;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-top: 1px solid #F0F0F0;
	margin-bottom: 20px;
}

	
.header .container {
	height: 90px;
	position: relative;
}

#maincontent {
	min-height: 800px;
}

/*---------------------------------------------------
4. Universal Page Elements
---------------------------------------------------*/

/* 4.1 Buttons  */

#maincontent .btn {
	background: transparent;
	border: 1px solid #DFDFDF;
	box-shadow: none;
}

#maincontent .btn-group.open .dropdown-toggle {
	background: #FFF;
	border-color: transparent;
	box-shadow: none;
}


#maincontent .dropdown-menu {
	border: 0;
	margin-top: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);	
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);	
}

#maincontent .dropdown-menu:before {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	position: absolute;
	top: -8px;
	right: 10px;
}


.btn-flat {
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: 120ms linear all;
	-moz-transition: 120ms linear all;
	transition: 120ms linear all;
	text-decoration: none;
}

.btn-flat:hover {
	text-decoration: none;
}

.btn-flat.red {
	color: #FFF;
	background: #B52437;
	padding: 4px 18px;
}

.btn-flat.red:hover {
	background: #C4263B;
}

/* 4.2 Tables  */

#maincontent table {
	background: #FFF;
}


#maincontent table th, #maincontent table td {
	vertical-align: middle;
	padding: 8px 20px;
	line-height: 20px;
}

#maincontent table tr:nth-child(even) {
	background: #FAFAFA;
	border-top: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}

#maincontent table th, #maincontent .able td {
	border-top: none;
}


#maincontent table th {
	color: #FFF;
	text-transform: uppercase;
	padding: 8px 20px;
	background: #1D2C46;
}

#maincontent table th:first-child  {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px
}

#maincontent table th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px
}

#maincontent table td > a {
	font-weight: 700;
	color: #B52437;
}

/* Datatables */

#maincontent #sort_length, #sort_info, #sort_paginate, #maincontent #sort-games_length, #sort-games_info, #sort-games_paginate  {
	display: none;
}

input[type="text"] {
	background: #FFF;
	font-size: 15px;
	border: none;
	box-shadow: none;
	padding: 8px;
	border-radius: 0;
	font-family: "proxima-nova";
	border: 1px solid #E4E4E4;
	margin: 0;
	border-radius: 3px;
}

#maincontent table th {
	position: relative;
}

#maincontent table th a {
	color: #FFF;
}
 
#maincontent table thead {
	background: #1D2C46;
}

#maincontent table th.sorting:before {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #424242;
	position: absolute;
	right: 10px;
	top: 13px;
}

#maincontent table th.sorting:after {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #424242;
	position: absolute;
	right: 10px;
	bottom: 13px;
}

#maincontent table th.sorting_asc:after {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #FFF;
	position: absolute;
	right: 10px;
	bottom: 16px;
}

#maincontent table th.sorting_desc:after {
	content: '';
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #FFF;
	position: absolute;
	right: 10px;
	bottom: 16px;
}

#maincontent table td {
	white-space: nowrap;
}


#maincontent table th.sorting, #maincontent table th.sorting_desc, #maincontent table th.sorting_asc {
	cursor: pointer;
}

/* YADCF -- Content Filter */


.yadcf-filter-reset-button {
	display: none;
}

#external_filter_container {
	float: right;
	margin-top: 10px;
	position: relative;
}

#external_filter_container:after {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #CACACA;
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-left: 4px solid rgba(0, 0, 0, 0);
	content: "";
	position: absolute;
	right: 10px;
	bottom: 26px;
}

#external_filter_container:before {
	display: inline-block;
	width: 0;
	height: 22px;
	vertical-align: top;
	border: 1px solid #F0F0F0;
	content: "";
	position: absolute;
	right: 25px;
	bottom: 16px;
}

span.scores, span.cards, span.subs {
	display: none;
}

/*
#maincontent .table th.sorting:last-child:after, #maincontent .table th.sorting:last-child:before{
	border: none;
}
*/

select {
   background: #FFF;
   color: #999;
   width: 140px;
   padding: 2px 10px;
   font-size: 14px;
   height: 36px;
   border-color: #FFF;
   -webkit-appearance: none;
   border-radius: 3px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   -webkit-transition: 120ms linear all;
	-moz-transition: 120ms linear all;
	transition: 120ms linear all;
	text-decoration: none;
	font-family: "proxima-nova";
	
}

select:focus {
	outline: none;
}

label {
	cursor: default;
}

/* Bootstrap additions */

.input-100 {
	width: 100%;
}

.input-200p  {
	width: 200px;
}



/*---------------------------------------------------
5. Page Views
---------------------------------------------------*/

/* 5.1 Competition list view  */

.add-comp {
	float: right;
	margin-top: 44px;
}


#maincontent #sort td {
	padding: 4px 20px;
}

/* 5.2 Team Page  */

.games-table {
	width: 100%
}

td.home-team {
	text-align: right;
}

.score-time {
	text-align: center;
}

.header img {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}

.team-name h1 {
	margin-left: 100px;
}


/* 5.3 Game Page  */


.scoreboard .away-team h1, .scoreboard .home-team h1 {
	font-size: 28px;
	line-height: 78px;
}

.scoreboard .away-team h1 a, .scoreboard .home-team h1 a {
	color: #1D2C46;
}

.scoreboard .away-team {
	float: left;
}

.scoreboard .home-team {
	float: left;
}


.scoreboard #score {
	display: inline-block;
	text-align: center;
	line-height: 94px;
	font-size: 48px;
	float: left;
	margin: 0 20px;
	color: #999;
}

.game-meta {
	background-color: #FFF;
	display: inline-block;
	border-top: 1px solid #F0F0F0;
	margin: 0 auto;
	width: 100%;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-top: 1px solid #F0F0F0;
}

.game-meta ul {
	list-style: none;
	margin: 0;
}

.game-meta li {
	float: left;
	padding: 10px 20px;
	border-right: 1px solid #F0F0F0;
	font-size: 13px;
}

.control-group {
	margin-bottom: 0;
}

.game-meta li:first-child {
	padding-left: 0;
}


.game-meta .btn-flat.red {
	color: #FFF;
	background: #B52437;
	padding: 4px 18px;
	float: right;
	text-shadow: none;
	margin-left: 20px;
}


td.frout {
	border-right: 2px solid #E7E7E7;
	width: 5%
}

td.player-name {
	width: 30%;
}

td.player-pos {
	width: 10%
}

td.player-num {
	width: 5%
}

.header.meta {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: none;
	border-top: none;
	margin-bottom: 0;
}


.btn-no {
	background: none;
	cursor: pointer;
	font-size: 12px;
	color: #A00000;
	border: none;
	padding: 0 20px;
}

#eShow {
	line-height: 40px;
	font-size: 13px;
	margin: 0;
}

#info form {
	margin-bottom: 0;	
}

#info form li:first-child, #info form li:last-child {
	padding-left: 0;
	height: 65px;
}

.btn-flat.red {
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	margin-top: -2px;
}

#events td:first-child:after {
	content: "'"; /* Add minute marker with css so it doesn't mess up sort	 */	
}

#events td.dataTables_empty:after  {
	content: '';
}

#maincontent #events .points {
	background: #ECF6FF;
}

.add-controls{
	padding: 20px;
	background: #E7E7E7;
	position: relative;
	height: 228px;
	border: 1px solid #E6E6E6;	
}
.add-controls form {
	margin: 0;
}
.control {
	margin-bottom: 10px;
}


.add-controls input[type="text"] {
	margin-right: 6px;
}

.add-controls .btn-flat.red {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	padding: 9px 0;
}

.add-controls .section-header {
	margin: 0 0 10px 0;
	border-bottom: 1px solid #FFF;
}

.add-controls .alert {
	border: 1px solid #FBEED5;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
	margin: 0;
	border-radius: 0;
	opacity: .95;
}
.add-controls .close {
	opacity: .8;
}

.add-controls.status {
	height: 45px;
}

.add-controls.status .btn-flat.red {
	left: 190px;
	top: 22px;
	width: 120px;
	height: 40px;
}


.add-controls.status ul {
	list-style: none;
	margin: 0;
}

.add-controls.status ul li {
	float: left;
	padding: 10px;
	background: #FFF;
	margin-right: 20px;
	font-size: 13px;
}

.add-controls.status li.last /* for >IE8 */{
	margin-right: 0;
}

.add-controls.status ul li input {
	margin-left: 10px;
	margin-bottom: 5px;
}

#events td:last-child a {
	text-decoration: none;
	font-size: 12px;
	color: #333;
}

#events td:last-child .icon-trash {
	vertical-align: text-bottom;
}


/* Player view */

.popover {
	max-width: 600px;
}

.player-popover-iframe body {
	background: #FFF;
}
